Repository baaahs/sparklemotion, pull requests merged in 2019-05, with the labels that each got.

#45 Switch to a better THREE camera control component
  package-lock.json
  package.json
  src/jsMain/js/index.jsx
  src/jsMain/kotlin/baaahs/JsMapperDisplay.kt
Labels: mapper

#47 Move some classes around a bit.
  src/commonMain/kotlin/baaahs/Brain.kt
  src/commonMain/kotlin/baaahs/Display.kt
  src/commonMain/kotlin/baaahs/Dmx.kt
  src/commonMain/kotlin/baaahs/Mapper.kt
  src/commonMain/kotlin/baaahs/Pinky.kt
  src/commonMain/kotlin/baaahs/Show.kt
  src/commonMain/kotlin/baaahs/Ui.kt
  src/commonMain/kotlin/baaahs/Visualizer.kt
  src/commonMain/kotlin/baaahs/net/Network.kt
  src/commonMain/kotlin/baaahs/proto/Protocol.kt
  src/commonMain/kotlin/baaahs/shows/CompositeShow.kt
  src/commonMain/kotlin/baaahs/shows/PanelTweenShow.kt
  src/commonMain/kotlin/baaahs/shows/PixelTweenShow.kt
  src/commonMain/kotlin/baaahs/shows/RandomShow.kt
  src/commonMain/kotlin/baaahs/shows/SomeDumbShow.kt
  src/commonMain/kotlin/baaahs/shows/ThumpShow.kt
  src/commonMain/kotlin/baaahs/sim/FakeDmxUniverse.kt
  src/jsMain/kotlin/baaahs/Displays.kt
  src/jsMain/kotlin/baaahs/JsVisualizer.kt
  src/jsMain/kotlin/baaahs/SheepSimulator.kt
  src/jsMain/kotlin/baaahs/sim/FakeMediaDevices.kt
  src/jvmMain/kotlin/baaahs/Visualizer.kt
Labels: cleanup

#48 Serialize list of shows properly.
  src/commonMain/kotlin/baaahs/Pinky.kt
  src/commonMain/kotlin/baaahs/Topics.kt
  src/jsMain/js/app/ShowList/index.jsx
Labels: cleanup

#49 Run Pinky as a standalone process
  build.gradle
  src/commonMain/kotlin/baaahs/PubSub.kt
  src/commonMain/kotlin/baaahs/Ui.kt
  src/commonMain/kotlin/baaahs/net/Network.kt
  src/jsMain/kotlin/baaahs/net/BrowserNetwork.kt
  src/jsMain/resources/styles.css
  src/jsMain/resources/ui-index.html
  src/jvmMain/kotlin/baaahs/PinkyMain.kt
  src/jvmMain/kotlin/baaahs/net/JvmNetwork.kt
  src/jvmMain/resources/logback.xml
Labels: pinky

#59 Web UI updates
  src/jsMain/js/FakeClientDevice.jsx
  src/jsMain/js/app/ShowList/index.jsx
  src/jsMain/js/app/Slider/Slider.scss
  src/jsMain/js/app/Slider/index.jsx
  src/jsMain/js/app/components/NavigationTabBar/constants.js
  src/jsMain/js/app/components/NavigationTabBar/index.jsx
  src/jsMain/js/app/components/TabContent/index.jsx
  src/jsMain/js/app/index.jsx
Labels: show ui
